<mat-form-field class="search-bar">
  <mat-label>Search for free video</mat-label>
  <input matInput type="text" [(ngModel)]="value" (keydown.enter)="onSearch()">
  <div matTextPrefix class="videos">
    <mat-icon aria-hidden="false" aria-label="icon video">smart_display</mat-icon>
    <p>Videos</p>
    <mat-divider class="custom-divider" [vertical]="true"></mat-divider>
  </div>
  <button matSuffix mat-icon-button (click)="onSearch()">
    <mat-icon aria-hidden="false" aria-label="Search button">search</mat-icon>
  </button>
</mat-form-field>

