<mat-dialog-content>
  <p>Please, enter your personal Pexels API key</p>
  <mat-form-field>
    <mat-label>API key</mat-label>
    <input matInput [(ngModel)]="apiKey" />
  </mat-form-field>
  <p>Save file in next directory: /Library/Application Support/Blackmagic Design/DaVinci Resolve/Workflow Integration Plugins/pexels-plugin/dist/pexels-plugin/browser/assets/</p>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button (click)="setApiKey()" cdkFocusInitial>Ok</button>
</mat-dialog-actions>
